.footer {
  margin: 0 auto 59px;
  max-width: 880px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 940px) {
  .footer {
    margin-left: 19px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 420px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
  }
}